<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!-- <logger name="org.mongodb" level="warn" additivity="false" /> -->
    <!-- <logger name="org.testcontainers.utility" level="warn" additivity="false" /> -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="de.flapdoodle.embed.mongo" level="ERROR"/>
    <logger name="org.mongodb.driver" level="ERROR"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
